html{
    height: 100%;
}

body{
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(219.3deg, rgb(149, 0, 199) 4.7%, rgb(130, 0, 226) 22.9%, rgb(95, 0, 199) 43.2%, rgb(70, 0, 199) 63.9%, rgb(5, 0, 199) 85.1%, rgb(0, 95, 199) 106.8%);
    /*background-color: #131138; */
    color: #E30C48;
    font-size: 18px;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,h2,h5{
font-family: 'VT323', monospace;
}

h1{
    margin-top: 30px;
    font-size: 70px;
    color: #1967E7;
    text-align: center;
    text-shadow: #480BCB 2px 2px 2px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 18px;
}

h5{
    font-size: 25px;
    color: #4295E1;
    margin-left: 10px;
    padding-top: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
}

form{
    margin-top: 30px;
}

input{
    background-color: #A9ACE8;
    color: #480BCB;
    border-color: #480BCB;
    min-width: 100%;
    padding-left: 10px;
    line-height: 30px;
}

button{
    background-color: #1967E7;
    color: #e0e1ff;
    font-size: 16px;
    border: none;
    border-radius: 0.25rem;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: #480BCB 2px 3px 3px;
}

img.icon-today{
    filter: hue-rotate(90deg);
    margin: 10px 10px 10px auto;
    min-width: 120px;
    display: block;
    margin: 0 auto;
}

img.icon-forecast{
    filter: hue-rotate(90deg);
    max-width: 50px;
}

.forecast{
    display: flex;
    align-items: center;
}

.forecast-temp{
    text-align: right;
}

div .forecast-temp {
    padding-top: 0;
}

.card{
    border-radius: 0;
}

.card-text{
    color: #93086e;
}

.weather-app{
    max-width: 700px;
    margin: 0 auto;
    border:rgb(5, 0, 199) solid 3px;
    border-radius: 0.25rem;
}

.temp-today{
    color: #4CE0CF;
}

.next-days{
    border: none;
    margin-top: 10px;
    background-color: #e0e1ff;
    border-radius: 0.25rem;
    box-shadow: #480BCB 3px 3px 3px;
}

footer{
    text-align: center;
    margin-top: 20px;
}

.not-link{
    color: #4CE0CF;
    text-decoration: none;
    cursor: default;
}
.not-link:hover{
    color:#4CE0CF
}